@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Hachi+Maru+Pop&family=Lato&family=Potta+One&family=Roboto&family=Yusei+Magic&display=swap');

article {
          margin: 20px 80px;
          columns: 4 200px;
}
h1,h2,h3,h4 {
  font-family: Potta One, sans-serif;
}
h2 {
          column-span: all;
          font-size: 24px;
          line-height: 2;
}
h3 {
          column-span: all;
          font-size: 24px;
          line-height: 2;
}
h3 {
  color: black;
  font-size: 48px;
  line-height: 2;
}
body {
  color: black;
  font-size: 20px;
  font-family: Roboto, sans-serif;
.menu {
    text-decoration: none;
    display: inline;
  }
}
/*desktops*/
@media (min-width:1025px) {
nav{
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
}
#en-cours {
  color: blue;
  border-bottom: 2px solid blue;
}
.ressource-list {
  max-width: var(--grid-flex-max-width);
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:1rem;
}

.ressource-list > * {
  flex-basis: 320px;
  flex-grow: 1;
  flex-shrink: 0;
}

div > figure > img{
  float: left;
  margin-right: 0.5rem;
  border-radius: 50%;
  max-width: 50%;
}


* {
  box-sizing : border-box;
}


.grid {
  display : grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows : 320px;
  grid-column-gap : 50px;
  grid-row-gap : 50px;
}

.grid > div{
  margin:50px;
  padding: 20px;
}
