@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Hachi+Maru+Pop&family=Lato&family=Potta+One&family=Roboto&family=Yusei+Magic&display=swap');

article {
          margin: 20px 80px;
          columns: 4 200px;
}
h1,h2,h3,h4 {
  font-family: Potta One, sans-serif;
}
h2 {
          column-span: all;
          font-size: 24px;
          line-height: 2;
}
h3 {
          column-span: all;
          font-size: 24px;
          line-height: 2;
}
h3 {
  color: black;
  font-size: 48px;
  line-height: 2;
}
/*smartphones mobiles (portrait)*/
@media (max-width: 480px) {
 body {
   color : green;
   font-size: 14px;
   font-family: Roboto, sans-serif;
 }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    color: brown;
    font-size: 18px;
    font-family: Lato, sans-serif;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    color: black;
    font-size: 20px;
    font-family: Fraunces, sans-serif;
  .menu {
      text-decoration: none;
      display: inline;
    }
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    color : red;
    font-size: 22px;
    font-family: Yusei Magic, sans-serif;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
  body {
    color : orange;
    font-size: 24;
    font-family: Hachi Maru Pop, sans-serif;
  }
}
/*desktops*/
@media (min-width:1025px) {
nav{
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
}
#en-cours {
  color: blue;
  border-bottom: 2px solid blue;
}

.blog
{
	position:relative;
padding:60px 0}

.blog__wrapper
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
justify-content:space-between}

.blog__post
{
	width:33.33%;
margin-right:30px}

.blog__post:last-child
{
margin-right:0}

.blog__post-thumbnail
{
	width:100%;
box-shadow:5px 8px 30px 1px rgba(0,0,0,0.21)}

.blog__post-thumbnail img
{
	display:block;
width:100%}

.blog__post-excerpt h3
{
	color:#585858;
font-size:24px}


@media (max-width: 991px)
{
	.blog__heading
	{
	font-size:48px}

	.blog__wrapper
	{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		-ms-grid-row-align:center;
	align-items:center}

	.blog__post
	{
		width:450px;
		max-width:100%;
	margin:0 0 45px 0}

	.blog__post:last-child
	{
	margin-bottom:0}

	.blog__post-excerpt
	{
	text-align:center}

	.blog__post-excerpt h3
	{
	margin-bottom:10px}
}
