@import "menu.css";
@import "animation-titre.css";
@import "button.css";
@import "grid.css";
article {
          margin: 20px 80px;
          columns: 4 200px;
}
h1,h2,h3,h4 {
  font-family: sans-serif;
  color: #725AC1;
}
h1 {
  margin: auto;
}
h2 {
          padding: 30px 0 5px 0;
          column-span: all;
          font-size: 24px;
          line-height: 2;
          font-weight: bold;
}
body {
  color: black;
  font-size: 20px;
  font-family: Roboto, sans-serif;
.menu {
    text-decoration: none;
    display: inline;
  }
}
#en-cours {
  color: blue;
  border-bottom: 2px solid blue;
}
/* .ressource-list {
  max-width: var(--grid-flex-max-width);
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:1rem;
}
*/

.ressource-list > * {
  flex-basis: 320px;
  flex-grow: 1;
  flex-shrink: 0;
}

div > figure > img{
  float: left;
  margin-right: 0.5rem;
  border-radius: 50%;
  max-width: 50%;
}


* {
  box-sizing : border-box;
}


.grid {
  display : grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows : 320px;
  grid-column-gap : 50px;
  grid-row-gap : 50px;
}
.personnalite_title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 3%
}
.footer{
  text-align: right;
  font-size: 16px;
  vertical-align: middle;
  margin: 30px 0 0 0;
  background-color: #725AC1;
  padding: 30px;
}
.footer > a {
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
}
.footer > a:hover {
  margin-right: 20px;
  color: yellow;
  text-decoration: underline;

}

.profil {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.profil_image {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
